{% extends "bootstrap/base.html" %}
{% block title %}MOHIPO-DATA {% endblock %}

## -> reference Bootstrap Documentation
{% block navbar %}
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Hello World </h1>
{% endblock %}